@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
    background-color: hsl(0, 0%, 100%);
    color: rgba(0, 0, 0, 0.80);
    --color-scrollbar: hsl(0, 0%, 90%);
    --color-scrollbar-active: hsl(0, 0%, 80%);
    --color-border: color-mix(in oklab, var(--color-black) 10%, transparent);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      color: rgba(255, 255, 255, 0.80);
      background-color: hsl(0, 0%, 7%);
      --color-scrollbar: hsl(0, 0%, 15%);
      --color-scrollbar-active: hsl(0, 0%, 20%);
      --color-border: color-mix(in oklab, var(--color-white) 10%, transparent);
    }
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    outline: none;
    box-sizing: border-box;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-active);
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
